@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Varela+Round&display=swap");

.cardContainer {
	background-color: bisque;
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;
}
.classroomCard {
	box-shadow: 0 0 2.4em rgba(224, 224, 224, 0.301);
	padding: 25px;
	border-top-right-radius: 60px;
	border: 2px solid rgba(221, 220, 220, 0.61);
	color: #7c7c7c;
	cursor: pointer;
	transition: 0.3s;
	background-color: #ffffff;
}

/* .container {
	display: grid;
	grid-template-columns: minmax(auto, 1300px);
	padding: 20px;
	font-family: "Varela Round", sans-serif;
}

.parent {
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;
}

.item {
	padding: 10px;
	background-color: white;
}

.card {
	box-shadow: 0 0 2.4em rgba(224, 224, 224, 0.301);
	padding: 25px;
	border-top-right-radius: 60px;
	border: 2px solid rgba(221, 220, 220, 0.61);
	color: #7c7c7c;
	cursor: pointer;
	transition: 0.3s;
	background-color: #ffffff;
}

.card .cardImg {
	width: 5em;
	height: 5em;
	padding: 0.5em;
	border-radius: 50%;
	margin: 0 auto 5px auto;
}

.card:hover .cardImg {
	transform: scale(1.15);
}

.chips {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	gap: 10px;
}

.chipItem:nth-child(1) {
	font-size: 1.1rem;
	grid-column: span 2;
	grid-row: span 2;
	display: grid;
	align-content: center;
	padding: 10px;
}


.layout {
	display: grid;
	grid-template-columns: 1fr 2.5fr;
	grid-template-areas:
		"header header"
		"contacts messages";
}

.messages {
	grid-area: messages;
	padding: 20px;
	min-height: 570px;
	max-height: 570px;
	border: 2px solid rgba(216, 216, 216, 0.692);
	border-radius: 15px;
}

.contacts {
	grid-area: contacts;
	min-height: 570px;
	max-height: 570px;
	overscroll-behavior-y: contain;
	padding: 10px;
}

.contactCard {
	color: #7c7c7c;
	cursor: pointer;
	border-radius: 15px;
	transition: 0.5s;
	padding: 4px;
}

.contactDetail {
	display: grid;
	grid-template-columns: 1fr 2.5fr;
	grid-area: "image details";
	column-gap: 5px;
}

.contactImg {
	grid-area: image;
}

.contactCard:hover {
	border-radius: 15px;
	background-color: rgb(233, 233, 233);
}

.details {
	grid-area: details;
}

.messageHead {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.convoLayout {
	min-height: 480px;
	max-height: 480px;
	display: grid;
	grid-template-rows: 2.5fr 0.8fr;
	gap: 20px;
}

.inputLayout {
	border-top: 3px solid gray;
	display: grid;
	grid-template-columns: 3fr 0.3fr;
	gap: 5px;
}

.convoCard {
	color: #7c7c7c;
	border-radius: 15px;
	transition: 0.5s;
	padding: 4px;
	margin-bottom: 10px;
}

.convoDetail {
	display: grid;
	grid-template-columns: 0.3fr 2.5fr;
	grid-area: "image details";
}

.infoCover {
	height: 12rem;
	border: 2px solid #d3d3d3bb;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding: 10px;
}

.infoLayout {
	height: 80px;
	display: grid;
	grid-template-columns: 0.4fr 3fr 0.2fr;
	gap: 10px;
	padding: 5px;
	border: 2px solid #d3d3d3bb;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-bottom: 60px;
}

@media screen and (max-width: 480px) {
	.parent {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
	}

	.chips {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 5px;
	}
} */
