.split {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.editProfile__form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.affliate {
	font-weight: 400;
	transition: 300ms ease-in-out;
	margin-left: var(--size-fluid-1);

	&:hover {
		text-decoration: underline;
		color: var(--primary-color);
	}
}
