.flex {
	display: flex;
}

.col {
	flex-direction: column;
}

.justify-center {
	justify-content: center;
}

.parentContainer {
	position: relative;
	font-family: var(--font-sans);
}

.wrapper {
	// width: min(100% - 2rem, 50rem);
	width: 100%;
	margin-inline: auto;
}

.header {
	display: flex;
	justify-content: center;
	margin-bottom: var(--size-fluid-4);
	margin-top: var(--size-fluid-2);
}

.main {
	min-height: calc(100vh - 5rem);
}

.hero {
	// line-height: var(--font-lineheight-1);
	// font-size: var(--font-size-fluid-3);
	// font-weight: var(--font-weight-9);
	&__heading {
		line-height: var(--font-lineheight-1);
		font-size: var(--font-size-fluid-3);
		font-weight: var(--font-weight-9);
		text-align: center;
		max-width: 70ch;
		margin-inline: auto;
		margin-bottom: var(--size-fluid-3);
	}

	&__text {
		font-weight: var(--font-weight-4);
		font-size: var(--font-size-fluid-0);
		line-height: var(--font-lineheight-1);
		padding: 15px;
		text-align: center;
		max-width: 70ch;
		margin-inline: auto;
		margin-bottom: var(--size-fluid-6);
	}
}

.footer {
	// position: absolute;
	// bottom: 0;
	margin-top: var(--size-fluid-8);
	width: 100%;
	height: var(--size-fluid-8);
	padding: 50px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: center;
	text-align: center;
	background-color: var(--gray-9);
	color: var(--gray-3);

	&__logo {
		margin-block: var(--font-size-fluid-1);
	}
	// &__text {
	// 	margin-bottom: var(--size-fluid-1);
	// }

	.splitItem:nth-child(1) {
		margin-bottom: 50px;
	}

	@media screen and (min-width: 980px) {
		.footerSplit {
			display: flex;
			justify-content: center;
			align-items: center;
			// grid-template-columns: 1fr 1fr;
			// gap: 10px;

			.splitItem:nth-child(1) {
				margin-bottom: 0;
			}
		}
	}
}

.action {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--font-size-fluid-0);
	width: 100%;
	margin-bottom: 30px;

	&__btn {
		padding: 1rem 1rem;
		border: 1px solid #e2e2e2;
		background-color: rgba(255, 255, 255, 0.158);
		border-radius: 5px;
		width: var(--size-fluid-10);
		font-size: var(--font-size-2);

		&:hover {
			background-color: #0a3069c2;
			cursor: pointer;
		}
	}
}
